<center>
<table>
	<tr>
		<td><h5>Artist Name</h5></td>
		<td><h5>Title</h5></td>
		<td><h5>Stream URL</h5></td>
	</tr>

		<tr>
		<td width="33%"><h5><%= @track.artist_name %></h5></td>
		<td width="33%"><h5><%= @track.title %></h5></td>
		<td width="33%"><h5><%= @track.stream_url %></h5></td>
	</tr>
</table>
</center>
<hr>
<h5><%= link_to "Edit Entry", edit_track_path(@track) %></h5>
<h5><a href="../">Back</a></h5>