<%= javascript_include_tag "soundmanager2" %>
<%= javascript_include_tag "page-player" %>
<script type="text/javascript">

soundManager.url = '/swf';
soundManager.userHTML5Audio = true;
soundManager.debugMode = true;

</script>


<h1>Welcome</h1>

<table>
	<tr>
		<td><h4><%= @track.title %></h4></td>
		<td><h4><%= @track.download_url %></h4></td>
	</tr>
</table>

 <ul class="playlist">
    <li><a class="sm2_link" type="audio/mp3" href="http://dankeezer.com/dp911/xyz/dreamjob/Ruin.mp3"><b>Cat Power</b> - Ruin</a>
    </li>
 </ul>