/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require page-player-djcopy.css
 *= require_self
 *= require bootstrap
 *= require bootstrap_and_overrides
 *= require font-awesome
 */

html {
  background-color: #f9f9f9;
}

 .controlsWrapper {
  background-color: #f9f9f9;
 }

 ul.playlist li {
  font-size: 2em !important;
  line-height: 1.1em;
}

body{
  background-color: #f9f9f9;
  margin: 0;
  padding: 0 !important;
}

input[type="text"],
.uneditable-input {
  margin-left: 10px;
  margin-bottom: 0px !important;
  height: 20px;
  width: 75% !important;
  vertical-align: middle;
}

form {
  margin: 0px;
}

.alert {
  margin-top: 2px;
  margin-bottom: 2px;
}

.playlist_cog {
  font-size: 20pt;
  vertical-align: middle;
  color: #999;
}

.playlist_cog:hover {
  color: #FF33CC;
}

.caret {
  vertical-align: bottom;
  color: #999;
}

.dropdown {
  display: inline;
  width: 5px;
  text-decoration: none;
}


.pink_h2
{
  color: #FF33CC !important;
  letter-spacing:-1px;
}


.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
  position: relative;
  width: 250px;
  margin-top: 20px;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 0px 5px #FF33CC;
  -webkit-box-shadow: 0px 0px 5px #FF33CC;
  box-shadow: 0px 0px 5px #FF33CC;
}
.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.brand
{

  margin: 0 auto 10px;
  display: block;

}
.need-help
{
  margin-top: 10px;
}

.new-account
{
  display: block;
  margin-top: 10px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.link_color {
  color: #FFFFFF;
}