ul.playlist{
    position:relative;
}
body {
 font:50% normal Helvetica, sans-serif; margin:0px 0 0 0;

}

table.one {table-layout: automatic
}

h1 {font-size: 1170%; 
	margin:0; 
	padding:0; 
	color: #FF33cc; 
	line-height:0.6;
	margin:50px 0 0; 
	letter-spacing: 0px; 
	display: inline}

h2 {font-size: 1170%; 
	margin:0; 
	padding:0; 
	color: #FF33cc; 
	line-height:0.6;
	margin:50px 0 0; 
	letter-spacing: -10px; 
	display: inline}
	
h3 {font-size: 105%; 
	margin:0; 
	padding:0; 
	color: #FF33cc; 
	line-height:1.6;
	margin:0 0; 
	letter-spacing: -10px;
	display: inline}
	
h4 {font-size: 105%; 
	margin:0; 
	padding:0; 
	color: #FFFF00; 
	line-height:1.6;
	margin:0 0; 
	letter-spacing: -10px;
	display: inline}