<div class="noticesWrapper">
  <% flash.each do |msg| %>
    <div class="alert alert-<%= color %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
      <% pry %>
    </div>
  <% end %>
</div>