<div class="noticesWrapper">
  <% flash.each do |name, msg| %>
    <% if name == :success %>
      <% color = "success" %>
    <% elsif name == :info %>
      <% color = "info" %>
    <% else %>
      <% color = "error" %>
    <% end %>
    <div class="alert alert-<%= color %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
</div>